<div class="contenedor">
<div class="navegador">
    <input type="button" class="pr" routerLink="/principal" value="Home">
    <input type="button" class="pr1" routerLink="/publicar"  value="Publicar">
        <input type="text" class="pr2" placeholder="BUSCAR PRODUCTOS">
        <input type="button" class="pr3" routerLink="/producto" value="Buscar" >
    <input type="button" class="pr4" routerLink="/carrito" value="carrito">
   <input type="button" routerLink="/perfil" class="pr5" value="perfil">
</div>
</div>
<p>carrito works!</p>
