<div class="contenedor">
    <div class="navegador">
        <input type="button" class="pr" routerLink="/principal" value="">
        <input type="button" class="pr1" routerLink="/publicar"  value="        ">
            <img src="/assets/imagenes/GuaTe.png" class="pr2" alt="">
            <input type="button" class="pr3" routerLink="/producto" value="      " >
        <input type="button" class="pr4" routerLink="/carrito" value="       ">
       <input type="button" routerLink="/perfil" class="pr5" value="      ">
    </div>
    <div class="comentario">
        <div class="card">
            <label for="idPublicacion" id="txt"><b>SKU</b> 12</label>
            <label for="nombre" id="txt"><b>Caifanes</b></label>
            <label for="cantidad" id="txt"><b>Cant</b> 10</label>
            <label for="precio" id="txt"><b>$</b> 1000</label>
            <label for="subtotal" id="txt"><b>Subtotal</b> 100000</label>
        </div>
        <div class="acciones">
            <input type="button" (click)="confirmarCompra()"id="btn2" value="Confirmar">
            <input type="submit" (click)="limpiarCarrito(0)" id="btn1"value=" ">
            <label for="Total" id="txt"><b>Total:</b> 1000000000</label>
        </div>
    </div>
    
</div>