  footer{
    background: gray;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
    height: 100px;
    width: auto;
    text-align: center;
}
.fcont{
  text-align: center;
  padding-top: 20px;
}

.cont{
  height: auto;
}