  footer{
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #00b7ff;
    opacity: 0.9;
    color: #fcfcff;
    border-top: solid;
    text-align: center;
    
}
.fcont{
  text-align: center;
  padding-top: 20px;
}

.cont{
  height: auto;
}