  footer{
    background: gray;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    
    color: whitesmoke;
    height: 100px;
    width: auto;
    text-align: center;
}
.fcont{
  margin-block-start: 10%;
  padding-top: 20px;
}