<p>admin-container works!</p>
<div class="contai">
    <div class="contenedor">
        <input type="button" value="Reporte1">
        <input type="button" value="Reporte2">
        <input type="button" value="Reporte3">
        <input type="button" value="Reporte4">
        <input type="button" value="Reporte5">
        <input type="button" value="Reporte6">
        <input type="button" value="Reporte7">
        <input type="button" value="Reporte8">
        <input type="button" value="Ver denuncias">
        <label for="cate">Categoria</label><input type="text" name="categoria" id="">
    
    </div>
    <div class="cont">
    <app-admin></app-admin>
    </div>
</div>