<div class="contenedor">
    <div class="navegador">
        <input type="button" class="pr" routerLink="/principal" value="Home">
        <input type="button" class="pr1" routerLink="/publicar"  value="Publicar">
            <input type="text" class="pr2" placeholder="BUSCAR PRODUCTOS">
            <input type="button" class="pr3" routerLink="/producto" value="      " >
        <input type="button" class="pr4" routerLink="/carrito" value="       ">
       <input type="button" routerLink="/perfil" class="pr5" value="perfil">
    </div>
    <form [formGroup]="">
    <div class="cuerpo">
            <input type="text" name="nombre" id="txt" placeholder="Nombre producto">
            <input type="text" name="categoria" id="txt" placeholder="Categoria (cambiar)">
            <input type="text" name="pclave" id="txt" placeholder="Palabras Clave">
            <input type="text" name="precio" id="txt" placeholder="Precio">
            <input type="file" name="imagen" id="txt">
            <input type="text" name="descripcion" id="desc" placeholder="Descripcion">
            <!--
                aca tengo que agregar una imagen pero tengo que ver como :'v
            -->
            <input type="button" id="txt"value="Agregar Producto">
            <input type="button" id="txt"routerLink="/principal" value="Cancelar">
    </div>
</form>
</div>
