<div class="contenedor">
    <h2 class="lg-txt">Registrate</h2>
    <form [formGroup]="registroForm" (ngSubmit)="registrar(registroForm.value)">
        <div class="vista">
            <input type="text"formControlName="nombre" id="usr" placeholder="Nombre">
            <input type="text" formControlName="apellido" id="usr" placeholder="Apellido">
            <input type="text" formControlName="pais" id="usr" placeholder="Pais">
            <input type="email" formControlName="correo" id="" placeholder="Correo electronico">
            <input type="password" formControlName="password" id="usr" placeholder="Password" required="NO DEJAR VACIO">
            <input type="password" formControlName="passC" id="usr" placeholder="Confirmar Password" required="NO DEJAR VACIO">
            <input type="date" formControlName="fecha" id="" >
            <span class="botones">
               <input type="submit" value="Registrar">
               <a routerLink="/"><input type="button" value="Cancelar"></a>
            </span>
        </div>
    </form>
    </div>