<h1> bienvenido Admin</h1> 
<button>
    <a routerLink="/">Cerrar Sesion</a>
</button>
<div class="cat">
    <div class="izq">
    <input type="text" name="categoria" id="txt">
    <button>
        CREAR CATEGORIA
    </button>
    </div>
    <div class="der">
        <form action="" method="get">
            <label for="categorias">Estas son las categorias anadidas</label>
            <input list="cats" name="cat" id="txt">
            <datalist id="cats">
                <option value="Una"></option>
                <option value="Dos"></option>
                <option value="Tres"></option>
                <option value="Cuatro"></option>
            </datalist>
        </form>
    </div>
</div>