.contenedor{
    margin: 0;
    padding:0;
    position: relative;
    background: #00b7ff; 
    height: 100vh;
    width: 100%;
}
.navegador{
    height: 50px;
    width: 100%;
    display: flex;
    background: #00b7ff;
    justify-content: center;
}
.pr{
    flex-grow: 1;
    font-size: 1.4em;
    background: #00b7ff;
    color: #fcfcff;
    margin-right: 1px;
    background-repeat: no-repeat;
    background-image: url('src/assets/imagenes/favicon.ico');
    background-position: center;
}
.pr1{
    background-color: #dbe7f0;
    font-size: 1.4em;
    color: #fcfcff;
    background-repeat: no-repeat;
    background-image: url('src/assets/imagenes/publish.ico');
    background-position: center;
    flex-grow: 1;
}
.pr2{
    flex-grow: 5;
    margin: 1px 0px 1px 1px;
}
.pr3{
    flex-shrink: 3;
    background-color: #dbe7f0;
    background-repeat: no-repeat;
    background-image: url('src/assets/imagenes/search.ico');
    background-position: center;
    margin: 1px 1px 1px 0px;
}
.pr4{
    flex-shrink: 3;
    background-color: #dbe7f0;
    background-repeat: no-repeat;
    background-image: url('src/assets/imagenes/cart1.ico');
    background-position: center;
    margin-right: 1px;
}
.pr4:hover,.pr5:hover,.pr:hover,.pr1:hover,.pr3:hover{
    background-color: #fcfcff;
    color: #004d85;
    transition: all 0.5s ease;
    cursor: pointer;

}
.pr5{
    flex-grow: 1;
    background-color: #dbe7f0;
    background-repeat: no-repeat;
    background-image: url('src/assets/imagenes/cardid.ico');
    background-position: center;
}
input[type=text]:hover{
    background-color: #fcfcff; 
    opacity: 0.8;
}
input{
    border-style: none;
}
.cuerpo{
    width: auto;
    display: flex;
    color: #fcfcff;
}
.izquierda{
    display: grid;
    margin-left:auto;
    width: 40%;
    text-align: justify;
}
.derecha{
    align-items: center;
    text-align: center;
    width: 70%;
}