<div class="contenedor">
    <div class="navegador">
        <input type="button" value="Home">
        <input type="button" value="Publicar">
        <div class="buscador">
        <input type="button" value="Buscar">
        </div>
        <input type="button" value="carrito">
        <input type="button" value="perfil">
    </div>
    <div class="cuerpo">
        <div class="izquierda">
            <h1>NUESTRA EMPRESA</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum corporis odit asperiores debitis id ratione hic. Illo officiis, vitae iste suscipit harum illum deleniti neque? Repellat magnam error nesciunt unde.
            </p>
            <h2>VALORES</h2>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id laborum enim, alias culpa quisquam nam ducimus, doloremque officiis voluptate cumque excepturi accusantium quo quam. Nostrum optio animi ipsum reprehenderit quo?
            </p>
            <h2>Mision</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti nobis dignissimos sed quasi nesciunt ut, ratione voluptatum nihil, odio rerum officia minima! Sit magni dolor quisquam eveniet illum fugit laboriosam.Obcaecati autem, unde minima magnam vitae tenetur nihil temporibus, eos totam fugit animi inventore ipsum reprehenderit esse! Recusandae aspernatur quisquam sint soluta maiores. Obcaecati vitae odit sed dolores tempora atque?</p>
            <h2>Vision</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa ut aliquid, odit fuga iste officiis earum eaque ea id ad sint? At et, praesentium necessitatibus corrupti numquam voluptatibus consequuntur dignissimos!
            Optio odit tempore quod ducimus iure sapiente veritatis perspiciatis nam cupiditate temporibus sed molestias consectetur, rerum excepturi numquam alias sint libero delectus quisquam dolorum, omnis laborum, illo eveniet. Optio, nostrum.
            Rem, enim laboriosam ut odit facere repellendus tenetur amet eum distinctio neque aliquam praesentium dignissimos, nisi minus, vitae odio placeat quos quam animi velit tempora! Laudantium vitae saepe sint omnis!</p>
        </div>
        <div class="derecha">
            <h1>TITULO GENERICO :v</h1>
            <img src="https://picsum.photos/500/600?grayscale" alt="">
        </div>
    </div>
</div>