<div class="contenedor">
<h2 class="lg-txt">Login</h2>
<form [formGroup]="sesionForm" (ngSubmit)="onSubmit()">
    <div class="vista">
        <input type="text" name="user" id="usr" placeholder="Nombre de Usuario"><br>
        <input type="password" name="pass" id="usr" placeholder="Password">
        <span class="botones">
           <input type="button" value="Inicio Sesion">
           <a routerLink="/registro-usuario"><input type="button" value="Registrar"></a><br>
           <a routerLink="/"><label for="" class="rCons">Recuperar Password</label></a>
        </span>
    </div>
</form>
</div>