<div class="contenedor">
<img src="assets/imagenes/gtSaleslogo.png">
<form [formGroup]="sesionForm" (ngSubmit)="verUser(sesionForm.value)">
    <div class="vista">
        <input type="text" formControlName="nombre" id="usr" placeholder="Correo Electronico"><br>
        <input type="password" formControlName="contra" id="usr" placeholder="Password">
        <span class="botones">
         <input type="submit" value="Inicio Sesion">
           <a routerLink="/registro-usuario"><input type="button" value="Registrar"></a><br>
           <a routerLink="/recuperar-contrasena"><label for="" class="rCons">Recuperar Password</label></a>
        </span>
    </div>
    </form>
</div>