<div class="contenedor">
    <div class="navegador">
        <input type="button" class="pr" routerLink="/principal" value="">
        <input type="button" class="pr1" routerLink="/publicar"  value="        ">
            <input type="text" class="pr2" placeholder="BUSCAR PRODUCTOS">
            <input type="button" class="pr3" routerLink="/producto" value="      " >
        <input type="button" class="pr4" routerLink="/carrito" value="       ">
       <input type="button" routerLink="/perfil" class="pr5" value="       ">
    </div>
    <div class="sal">
    <input type="button" (click)="cerrarSesion()" class="salida" value="      ">
    </div>
    <div class="perfil">
        <div class="izquierda">
        <label for="correo">Email: {{user.correo}}</label>
        <label for="creditos">Creditos: {{user.creditos}}</label>
        <form [formGroup]="perfilGroup" (ngSubmit)="actualizaUser(perfilGroup.value)">
        <input type="text" formControlName="nombre" id="txt" placeholder="Nombre" value="{{user.nombre}}">
        <input type="text" formControlName="apellido" id="txt" placeholder="Apellido" value="{{user.apellido}}">
        <input type="text" formControlName="pais" id="txt" placeholder="Pais" value="{{user.pais}}">
        <input type="password" formControlName="pass" id="txt" placeholder="Password" required="NO DEJAR VACIO">
        <input type="password" formControlName="Cpass" id="txt" placeholder="Confirmar Password" required="NO DEJAR VACIO">
        <input type="date" formControlName="fechaNac" id="txt" value="{{user.fecha}}">
        <input type="submit" value="Modificar informacion" class="op" id="txt">
        </form>
        </div>
        <div class="derecha">
            <input type="file" name="img" (change)="selectImage($event)" id="txt"  accept="image/png, image/jpeg, image/jpg">
            <br><input type="submit" (click)="onSubmit()" id="fondo" value="Actualizar">
        </div>
    </div>
</div>