<div class="contenedor">
    <div class="navegador">
        <input type="button" class="pr" routerLink="/principal" value="">
        <input type="button" class="pr1" routerLink="/publicar"  value="        ">
            <input type="text" class="pr2" placeholder="BUSCAR PRODUCTOS">
            <input type="button" class="pr3" routerLink="/producto" value="      " >
        <input type="button" class="pr4" routerLink="/carrito" value="       ">
       <input type="button" routerLink="/perfil" class="pr5" value="       ">
    </div>
    <div class="sal">
    <input type="button" (click)="cerrarSesion()" class="salida" value="      ">
    </div>
    <div class="perfil">
        <div class="izquierda">
        <label for="correo">Email: orellanab80@gmail.com</label>
        <label for="creditos">Creditos: 10,000</label>
        <form [formGroup]="perfilGroup">
        <input type="text" name="nombre" id="txt" placeholder="Nombre">
        <input type="text" name="apellido" id="txt" placeholder="Apellido">
        <input type="text" name="pais" id="txt" placeholder="Pais">
        <input type="password" name="pass" id="txt" placeholder="Password">
        <input type="password" name="Cpass" id="txt" placeholder="Confirmar Password">
        <input type="date" name="fechaNac" id="txt">
        <input type="button" value="Modificar informacion" class="op" id="txt">
        </form>
        </div>
        <div class="derecha">
            <form [formGroup]="">
            <img src="assets/imagenes/default.jpg" alt=""><br>
            <input type="file" name="fPerfil" name="Subir foto de Perfil" id="txt" accept="image/png, image/jpeg, image/jpg">
            <br><input type="button" id="fondo"value="Actualizar">
            </form>
        </div>
    </div>
</div>
