<div class="contenedor">
    <div class="navegador">
        <input type="button" class="pr" routerLink="/principal" value="Home">
        <input type="button" class="pr1" routerLink="/publicar"  value="Publicar">
            <input type="text" class="pr2" placeholder="BUSCAR PRODUCTOS">
            <input type="button" class="pr3" routerLink="/producto" value="      " >
        <input type="button" class="pr4" routerLink="/carrito" value="       ">
       <input type="button" routerLink="/perfil" class="pr5" value="perfil">
    </div>
    <div class="perfil">
        <div class="izquierda">
        <label for="correo">Email: orellanab80@gmail.com</label>
        <label for="creditos">Creditos: 10,000</label>
        <form action="" method="get">
        <input type="text" name="nombre" id="txt" placeholder="Nombre">
        <input type="text" name="apellido" id="txt" placeholder="Apellido">
        <input type="text" name="pais" id="txt" placeholder="Pais">
        <input type="password" name="pass" id="txt" placeholder="Password">
        <input type="password" name="Cpass" id="txt" placeholder="Confirmar Password">
        <input type="date" name="fechaNac" id="txt">
        <input type="button" value="Modificar informacion" class="op" id="txt">
        </form>
        </div>
        <div class="derecha">
            <form action="" method="get">
            <img src="assets/imagenes/minion.jpg" alt="">
            <input type="file" name="fPerfil" value="Subir foto de Perfil" id="txt">
            </form>
        </div>
    </div>
</div>
