.contenedor{
    margin: 0;
    padding:0;
    height: 100vh;
    background: #00b7ff; 
    color:#fcfcff;
}
.navegador{
    height: 50px;
    width: 100%;
    display: flex;
    background: #00b7ff; 
    justify-content: center;
}
.perfil{
    align-items: center;
    height: 70vh;
    width: 90%;
    margin: auto;
    display: flex;
    text-align: center;
    background: #00b7ff; 
    font-size: 20px;
}
.izquierda{
    display: grid;
    width: 100%;
    margin: 10px;
}
.derecha{
    display: grid;
    width: 80%;
    height: 70vh;
    align-items: center;
    margin: auto;
}
img{
    width: 400px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#txt{
    width: 50%;
    height: 50px;
    font-size: 20px;
    margin: auto auto 1px auto;
    border-radius: 2px;
}
.pr{
    flex-grow: 1;
    font-size: 1.4em;
    background: #00b7ff;
    color: #fcfcff;
    margin-right: 1px;
    background-repeat: no-repeat;
    background-image: url('src/assets/imagenes/favicon.ico');
    background-position: center;
}
.pr1{
    background-color: #dbe7f0;
    font-size: 1.4em;
    color: #fcfcff;
    background-repeat: no-repeat;
    background-image: url('src/assets/imagenes/publish.ico');
    background-position: center;
    flex-grow: 1;
}
.pr2{
    flex-grow: 5;
    margin: 1px 0px 1px 1px;
}
.pr3{
    flex-shrink: 3;
    background-color: #dbe7f0;
    background-repeat: no-repeat;
    background-image: url('src/assets/imagenes/search.ico');
    background-position: center;
    margin: 1px 1px 1px 0px;
}
.pr4{
    flex-shrink: 3;
    background-color: #dbe7f0;
    background-repeat: no-repeat;
    background-image: url('src/assets/imagenes/cart1.ico');
    background-position: center;
    margin-right: 1px;
}
.pr4:hover,.pr5:hover,.pr:hover,.pr1:hover,.pr3:hover{
    background-color: #fcfcff;
    color: #004d85;
    transition: all 0.5s ease;
    cursor: pointer;

}
.pr5{
    flex-grow: 1;
    background-color: #dbe7f0;
    background-repeat: no-repeat;
    background-image: url('src/assets/imagenes/cardid.ico');
    background-position: center;
}
input[type=text]:hover,
input[type=password]:hover,
input[type=email]:hover,
input[type=date]:hover{
    background-color: #fcfcff; 
    opacity: 0.8;
}
input{
    border-style: none;
}
.op{
    background-color: #004d85;
    color: #fcfcff;
}
.op:hover{
    background-color: #fcfcff;
    color: #004d85;
    transition: all 0.5s ease;
    cursor: pointer;
}
.salida{
    margin: 0;
    padding: 0;
    width: 100px;
    height: 100px;
    background-color: whitesmoke;
    background-repeat: no-repeat;
    background-image: url('src/assets/imagenes/desconectar.ico');
    background-position: center;
    background-color: #00b7ff;
}
.salida:hover{
    cursor: pointer;
    opacity: 0.8;
    border-radius: 100px;
}
.sal{
    width: 95%;
    margin: auto;
    margin-top: 30px;
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
}
#fondo{
    font-size: 20px;
    background-color: #004d85;
    color: #fcfcff;
    height: 50px;
    width: 50%;
}
#fondo:hover{
    background-color: #fcfcff;
    color: #004d85;
    transition: all 0.5s ease;
    cursor: pointer;
}
input[type=file]{
    border-style: none;
}